.devcontainer/
.vscode/
build/
managed_components/

homeassistant/*
!homeassistant/
!homeassistant/lovelace/
!homeassistant/automations.yaml
!homeassistant/configuration.yaml
!homeassistant/mqtt_sensors.yaml
!homeassistant/scenes.yaml
!homeassistant/scripts.yaml
!homeassistant/template_sensors.yaml

mosquitto/*
!mosquitto/config/
!mosquitto/config/mosquitto.conf
!mosquitto/data/
mosquitto/data/mosquitto.db
!mosquitto/log/
mosquitto/log/mosquitto.log

dependencies.lock
sdkconfig*
sdkconfig.ci
sdkconfig.old