.devcontainer/
.vscode/
build/

homeassistant/*
!homeassistant/
!homeassistant/automations.yaml
!homeassistant/configuration.yaml
!homeassistant/mqtt_sensors.yaml
!homeassistant/scenes.yaml
!homeassistant/scripts.yaml

mosquitto/*
!mosquitto/config/
!mosquitto/config/mosquitto.conf
!mosquitto/data/
mosquitto/data/mosquitto.db
!mosquitto/log/
mosquitto/log/mosquitto.log

sdkconfig*
sdkconfig.ci
sdkconfig.old