menu "WiFi and MQTT Settings"

    config WIFI_SSID
        string "WiFi SSID"
        default "your_wifi_ssid"

    config WIFI_PASS
        string "WiFi Password"
        default "your_wifi_password"

    config MQTT_BROKER_URI
        string "MQTT Broker URI"
        default "mqtt://<broker-ip>"

    config MQTT_BROKER_PORT
        int "MQTT Broker Port"
        default "1883"

endmenu